body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body[data-theme="dark"] {
  background-color: #242629;
  color: #ffffff;
}